$color-primary: #3046C5;
$color-secondary: #5637DD;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106B;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

/* This will target ONLY h2 elements that are descendents of the header element. So it will target our first h2 in the heading but not the rest of them in the page.*/
header {
    h2 {
        color: $color-pale;
    }
}

/* This will have 20px for top and bottom padding and 0px for left and right.*/
.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}

/*Up until now, all of these rules have been for HTML elements. Now, jumbotron is a Bootstrap defined class but, we can still write custom rules for it here. We will add this padding which means to pad 30px on ALL four sides. This will actually decrease the size of the jumbotron in this example. I will also give this a linear gradient that goes from left to right with three color stops. I will also set the default font color to white. When I added the new navbar, I noticed there was a gap between the navbar and the jumbotron so I added the margin 0 attribute to this class.*/
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-mid;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#reserveModal{
    .modal-header {
        background-color: $color-teal;
        color: white;
    }
}

#loginModal{
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}